In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
from gensim.models.word2vec import Word2Vec
from gensim.utils import simple_preprocess

from keras.preprocessing.sequence import pad_sequences
from keras.preprocessing.text import Tokenizer

C:\ProgramData\Miniconda3\lib\site-packages\gensim\utils.py:1197: UserWarning: detected Windows; aliasing chunkize to chunkize_serial
  warnings.warn("detected Windows; aliasing chunkize to chunkize_serial")
Using TensorFlow backend.

In [407]:
from keras.utils import plot_model
from keras.models import Model
from keras.layers import Embedding
from keras.layers import Input
from keras.layers import Dense
from keras.layers import Flatten
from keras.layers import Lambda
from keras.layers import Layer
from keras.layers import Softmax
from keras.layers import LSTM
from keras.layers.convolutional import Conv1D
from keras.layers import MaxPooling1D
from keras.layers import Dropout
from keras import optimizers
from keras.regularizers import l2

import tensorflow as tf
import keras
import keras.backend as K

from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score

In [408]:
# Params
maxlen=20
embedding_dim = 100
text_vocabulary_size = 140000
n_epochs = 500

### Training

In [49]:
train_df= pd.read_pickle('train_df.pkl')

In [50]:
test_df = pd.read_pickle('test_df.pkl')

## Associate word_indices with embeddings

### Train

In [17]:
train_df.loc[:, ['news_title']] = train_df.loc[:, ['news_title']].fillna('')

In [18]:
# Preprocess
train_df['words'] = train_df.news_title.map(simple_preprocess)

### Create weight matrix

In [10]:
embeddings_index = dict()
f = open("D:\\GitHub\\glove.6B\\glove.6B.100d.txt", encoding='utf8')
for line in f:
    values = line.split()
    word = values[0]
    coefs = np.asarray(values[1:], dtype='float32')
    embeddings_index[word] = coefs
f.close()

In [19]:
# Tokenize and fit on text
t = Tokenizer()
t.fit_on_texts(train_df['news_title'])

In [20]:
# From https://machinelearningmastery.com/use-word-embedding-layers-deep-learning-keras/
embedding_matrix = np.zeros((text_vocabulary_size, 100))

In [21]:
#create a weight matrix for words in training docs
for word, i in t.word_index.items():
    embedding_vector = embeddings_index.get(word)
    if embedding_vector is not None:
        embedding_matrix[i] = embedding_vector

In [23]:
# Text to sequence
train_df['embeddings'] = t.texts_to_sequences(train_df['words'])

In [24]:
# Pad sequences
train_embed = pad_sequences(train_df['embeddings'], maxlen=maxlen, padding='post')

In [25]:
train_df

,index,Date,datetime,news_title,source,stock,words,embeddings
0,0,2006-10-20 00:00:00-04:00,2006-10-20 16:16:16-04:00,"Inco's Net Soars on Higher Metal Prices, Break...",Bloomberg,1,"[inco, net, soars, on, higher, metal, prices, ...","[14411, 222, 1237, 3, 172, 1541, 53, 3018, 1404]"
1,1,2006-10-20 00:00:00-04:00,2006-10-20 16:25:00-04:00,"Hey buddy, can you spare $600 for a Google sha...",Reuters,1,"[hey, buddy, can, you, spare, for, google, share]","[12905, 17975, 440, 2332, 6801, 5, 318, 246]"
2,2,2006-10-20 00:00:00-04:00,2006-10-20 18:15:00-04:00,Exxon Mobil offers plan to end Alaska dispute.,Reuters,1,"[exxon, mobil, offers, plan, to, end, alaska, ...","[1044, 4648, 449, 56, 1, 184, 3089, 788]"
3,3,2006-10-20 00:00:00-04:00,2006-10-20 20:08:44-04:00,"Jim Cramer: Diageo, Anheuser-Busch, Monster Wo...",Bloomberg,1,"[jim, cramer, diageo, anheuser, busch, monster...","[4543, 24198, 5067, 3019, 3686, 3519, 3090, 318]"
4,4,2006-10-20 00:00:00-04:00,2006-10-21 14:21:00-04:00,AOL CEO says sales may shrink for two years -p...,Reuters,1,"[aol, ceo, says, sales, may, shrink, for, two,...","[2528, 49, 4, 10, 11, 2031, 5, 93, 191, 666]"
5,5,2006-10-20 00:00:00-04:00,2006-10-21 20:11:00-04:00,Pluspetrol says losing $2.4 mln/day in Peru pr...,Reuters,1,"[pluspetrol, says, losing, mln, day, in, peru,...","[24199, 4, 1091, 1165, 68, 2, 847, 1336]"
6,6,2006-10-20 00:00:00-04:00,2006-10-22 06:46:00-04:00,EU to urge China to open economy further.,Reuters,1,"[eu, to, urge, china, to, open, economy, further]","[80, 1, 1657, 21, 1, 257, 73, 873]"
7,7,2006-10-20 00:00:00-04:00,2006-10-22 12:14:00-04:00,"Fed to keep hawkish tone, hold rates steady.",Reuters,1,"[fed, to, keep, hawkish, tone, hold, rates, st...","[63, 1, 487, 15302, 5407, 492, 171, 851]"
8,8,2006-10-20 00:00:00-04:00,2006-10-22 20:36:00-04:00,Weatherford profit jumps 78 percent.,Reuters,1,"[weatherford, profit, jumps, percent]","[12258, 27, 310, 121]"
9,9,2006-10-20 00:00:00-04:00,2006-10-22 21:51:00-04:00,Saudi Arabia tells Japan to cut its Nov crude ...,Reuters,1,"[saudi, arabia, tells, japan, to, cut, its, no...","[398, 1571, 406, 100, 1, 59, 256, 2052, 207, 276]"
10,10,2006-10-23 00:00:00-04:00,2006-10-23 01:50:00-04:00,Australia's Foster's says confident on targets.,Reuters,1,"[australia, foster, says, confident, on, targets]","[292, 7573, 4, 1696, 3, 513]"
11,11,2006-10-23 00:00:00-04:00,2006-10-23 03:47:00-04:00,Macquarie bids $1.4 bln for metering firm Techem.,Reuters,1,"[macquarie, bids, bln, for, metering, firm, te...","[2695, 683, 609, 5, 14408, 568, 41688]"
12,12,2006-10-23 00:00:00-04:00,2006-10-23 03:51:00-04:00,DaimlerChrysler talks to 2 firms on small car:...,Reuters,1,"[daimlerchrysler, talks, to, firms, on, small,...","[6079, 86, 1, 519, 3, 806, 539, 666]"
13,13,2006-10-23 00:00:00-04:00,2006-10-23 05:24:00-04:00,More solid earnings may keep rally going.,Reuters,1,"[more, solid, earnings, may, keep, rally, going]","[43, 3068, 148, 11, 487, 185, 3149]"
14,14,2006-10-23 00:00:00-04:00,2006-10-23 07:51:36-04:00,EU Energy Chief Backs German Plan for Price Co...,Bloomberg,1,"[eu, energy, chief, backs, german, plan, for, ...","[80, 143, 153, 713, 122, 56, 5, 125, 1968]"
15,15,2006-10-23 00:00:00-04:00,2006-10-23 08:36:00-04:00,"U.S. venture investors betting on energy, Web ...",Reuters,1,"[venture, investors, betting, on, energy, web]","[659, 145, 3926, 3, 143, 1200]"
16,16,2006-10-23 00:00:00-04:00,2006-10-23 09:58:00-04:00,Shell Canada jumps 30 pct on Royal Dutch offer.,Reuters,1,"[shell, canada, jumps, pct, on, royal, dutch, ...","[848, 234, 310, 754, 3, 2032, 1321, 205]"
17,17,2006-10-23 00:00:00-04:00,2006-10-23 10:47:00-04:00,Kimberly-Clark sees higher costs this year.,Reuters,1,"[kimberly, clark, sees, higher, costs, this, y...","[6311, 4037, 54, 172, 183, 215, 28]"
18,18,2006-10-23 00:00:00-04:00,2006-10-23 10:49:00-04:00,Ford won't sell Ford Credit.,Reuters,1,"[ford, won, sell, ford, credit]","[416, 1036, 107, 416, 62]"
19,19,2006-10-23 00:00:00-04:00,2006-10-23 10:56:00-04:00,Ford sees fourth quarter weaker than third.,Reuters,1,"[ford, sees, fourth, quarter, weaker, than, th...","[416, 54, 403, 87, 1192, 112, 170]"
20,20,2006-10-23 00:00:00-04:00,2006-10-23 11:18:00-04:00,Hasbro profit beats expectations.,Reuters,1,"[hasbro, profit, beats, expectations]","[5408, 27, 213, 912]"
21,21,2006-10-23 00:00:00-04:00,2006-10-23 11:20:00-04:00,Merrill Lynch to buy Petrie Parkman.,Reuters,1,"[merrill, lynch, to, buy, petrie, parkman]","[801, 2861, 1, 70, 32331, 41689]"
22,22,2006-10-23 00:00:00-04:00,2006-10-23 11:41:00-04:00,Ford CEO: Jury out on European premium brands.,Reuters,1,"[ford, ceo, jury, out, on, european, premium, ...","[416, 49, 1645, 214, 3, 111, 1201, 1612]"
23,23,2006-10-23 00:00:00-04:00,2006-10-23 11:48:00-04:00,"Kimberly-Clark profit higher, narrows view.",Reuters,1,"[kimberly, clark, profit, higher, narrows, view]","[6311, 4037, 27, 172, 987, 106]"
24,24,2006-10-23 00:00:00-04:00,2006-10-23 11:52:00-04:00,Wal-Mart October sales growth tracking below f...,Reuters,1,"[wal, mart, october, sales, growth, tracking, ...","[534, 551, 467, 10, 34, 3989, 704, 110]"
25,25,2006-10-23 00:00:00-04:00,2006-10-23 12:34:00-04:00,Bombardier could launch new jet this year: ana...,Reuters,1,"[bombardier, could, launch, new, jet, this, ye...","[3540, 274, 1364, 26, 1316, 215, 28, 744]"
26,26,2006-10-23 00:00:00-04:00,2006-10-23 14:10:00-04:00,Private equity groups form for Tribune bid: so...,Reuters,1,"[private, equity, groups, form, for, tribune, ...","[465, 139, 1741, 1924, 5, 1405, 92, 314]"
27,27,2006-10-23 00:00:00-04:00,2006-10-23 15:06:00-04:00,AT&T earnings beat expectations.,Reuters,1,"[at, earnings, beat, expectations]","[17, 148, 421, 912]"
28,28,2006-10-23 00:00:00-04:00,2006-10-23 15:40:00-04:00,Wrigley sees no change in communications policy.,Reuters,1,"[wrigley, sees, no, change, in, communications...","[10035, 54, 120, 635, 2, 2910, 295]"
29,29,2006-10-23 00:00:00-04:00,2006-10-23 15:48:00-04:00,"Ford is reviewing all products, brands: CEO.",Reuters,1,"[ford, is, reviewing, all, products, brands, ceo]","[416, 66, 3601, 584, 909, 1612, 49]"
...,...,...,...,...,...,...,...,...
288185,288185,2012-11-23 00:00:00-05:00,2012-11-25 18:25:00-05:00,"Mexico ""Buen Fin"" sales up by nearly a third.",Reuters,0,"[mexico, buen, fin, sales, up, by, nearly, third]","[392, 41686, 5615, 10, 39, 22, 2163, 170]"
288186,288186,2012-11-23 00:00:00-05:00,2012-11-25 18:30:16-05:00,Fed’s Dudley Signals a Shift Toward Bank Reform.,Bloomberg,0,"[fed, dudley, signals, shift, toward, bank, re...","[63, 2722, 791, 1271, 1389, 18, 642]"
288187,288187,2012-11-23 00:00:00-05:00,2012-11-25 18:30:17-05:00,Natural-Gas Exports Could Lift U.S. Trade and ...,Bloomberg,0,"[natural, gas, exports, could, lift, trade, an...","[511, 127, 248, 274, 1098, 179, 47, 73]"
288188,288188,2012-11-23 00:00:00-05:00,2012-11-25 18:30:36-05:00,Spain’s Bad Bank Needs Goodwill From Europe’s ...,Bloomberg,0,"[spain, bad, bank, needs, goodwill, from, euro...","[199, 901, 18, 466, 9488, 29, 84, 667]"
288189,288189,2012-11-23 00:00:00-05:00,2012-11-25 18:30:58-05:00,Regulate U.S. Markets Like the Nuclear Industry.,Bloomberg,0,"[regulate, markets, like, the, nuclear, industry]","[7094, 144, 1530, 55, 488, 491]"
288190,288190,2012-11-23 00:00:00-05:00,2012-11-25 18:44:00-05:00,Black Friday sales online top $1 billion for f...,Reuters,0,"[black, friday, sales, online, top, billion, f...","[1104, 1947, 10, 907, 174, 16, 5, 48, 190, 8253]"
288191,288191,2012-11-23 00:00:00-05:00,2012-11-25 18:45:00-05:00,Apple seeks to add more products to Samsung pa...,Reuters,0,"[apple, seeks, to, add, more, products, to, sa...","[236, 103, 1, 749, 43, 909, 1, 670, 887, 612]"
288192,288192,2012-11-23 00:00:00-05:00,2012-11-25 18:52:54-05:00,Qantas Minds Bonds as Dreamliner Order Pulled:...,Bloomberg,0,"[qantas, minds, bonds, as, dreamliner, order, ...","[1832, 8037, 57, 6, 3692, 651, 5218, 292, 62]"
288193,288193,2012-11-23 00:00:00-05:00,2012-11-25 19:00:01-05:00,BBC’s Chief Honed Skills Saving Covent Garden:...,Bloomberg,0,"[bbc, chief, honed, skills, saving, covent, ga...","[3311, 153, 35376, 6688, 3894, 21973, 6546, 9535]"
288194,288194,2012-11-23 00:00:00-05:00,2012-11-25 19:00:01-05:00,White Burgundies From Cote d’Or Set Gold Stand...,Bloomberg,0,"[white, burgundies, from, cote, or, set, gold,...","[805, 70870, 29, 18680, 946, 225, 195, 825]"
288195,288195,2012-11-23 00:00:00-05:00,2012-11-25 19:00:01-05:00,Chelsea Ties 0-0 Against Man. City as Fans Jee...,Bloomberg,0,"[chelsea, ties, against, man, city, as, fans, ...","[1819, 1097, 160, 868, 472, 6, 2494, 36137, 12..."
288196,288196,2012-11-23 00:00:00-05:00,2012-11-25 19:01:00-05:00,Britons’ Spending Power Stagnated in October o...,Bloomberg,0,"[britons, spending, power, stagnated, in, octo...","[6566, 283, 157, 19088, 2, 467, 3, 208, 2562]"
288197,288197,2012-11-23 00:00:00-05:00,2012-11-25 19:01:00-05:00,U.K. Business Investment Seen at Pace Damping ...,Bloomberg,0,"[business, investment, seen, at, pace, damping...","[169, 212, 132, 17, 807, 13353, 146, 34]"
288198,288198,2012-11-23 00:00:00-05:00,2012-11-25 19:01:00-05:00,Colombia Bank Votes 4-3 for Rate Cut After Bro...,Bloomberg,0,"[colombia, bank, votes, for, rate, cut, after,...","[927, 18, 1624, 5, 72, 59, 12, 1919, 70871]"
288199,288199,2012-11-23 00:00:00-05:00,2012-11-25 19:01:00-05:00,U.K. Energy Policy Weighs on Green Investment:...,Bloomberg,0,"[energy, policy, weighs, on, green, investment...","[143, 295, 1065, 3, 1055, 212, 1371, 9, 55, 68]"
288200,288200,2012-11-23 00:00:00-05:00,2012-11-25 19:01:00-05:00,"Osborne May Extend U.K. Austerity to 2018, IFS...",Bloomberg,0,"[osborne, may, extend, austerity, to, ifs, says]","[2030, 11, 560, 784, 1, 17593, 4]"
288201,288201,2012-11-23 00:00:00-05:00,2012-11-25 19:01:03-05:00,Overnight Rates Surge in Fed’s Operation Twist.,Bloomberg,0,"[overnight, rates, surge, in, fed, operation, ...","[894, 171, 425, 2, 63, 2811, 4286]"
288202,288202,2012-11-23 00:00:00-05:00,2012-11-25 19:53:16-05:00,Japan Copper-Alloy Product Output Climbs 0.5% ...,Bloomberg,0,"[japan, copper, alloy, product, output, climbs...","[100, 267, 9887, 1759, 173, 300, 2, 467]"
288203,288203,2012-11-23 00:00:00-05:00,2012-11-25 20:08:21-05:00,"China Yangtze, Jiangsu Shagang, Nanjing Urban:...",Bloomberg,0,"[china, yangtze, jiangsu, shagang, nanjing, ur...","[21, 13236, 25313, 70872, 10120, 4511, 21, 85,..."
288204,288204,2012-11-23 00:00:00-05:00,2012-11-25 20:33:00-05:00,"Analysis: ""Caveat emptor"" as foreigners rush t...",Reuters,0,"[analysis, caveat, emptor, as, foreigners, rus...","[177, 30623, 41685, 6, 3806, 2583, 1, 4047, 21..."
288205,288205,2012-11-23 00:00:00-05:00,2012-11-25 20:49:56-05:00,Notre Dame Remains No. 1 Team in College Footb...,Bloomberg,0,"[notre, dame, remains, no, team, in, college, ...","[6417, 6646, 1808, 120, 752, 2, 1951, 2240, 85..."
288206,288206,2012-11-23 00:00:00-05:00,2012-11-25 21:00:09-05:00,"Stones Roll Back Years, Rock Cheap Seats, No W...",Bloomberg,0,"[stones, roll, back, years, rock, cheap, seats...","[14832, 4123, 239, 191, 2035, 2429, 2971, 120,..."
288207,288207,2012-11-23 00:00:00-05:00,2012-11-25 21:01:00-05:00,Sebastian Vettel Wins Third Straight Formula O...,Bloomberg,0,"[sebastian, vettel, wins, third, straight, for...","[18584, 6785, 166, 170, 1035, 2758, 243, 4579,..."
288208,288208,2012-11-23 00:00:00-05:00,2012-11-25 22:30:46-05:00,Thermal Coal Swaps for Indonesia Rise; China C...,Bloomberg,0,"[thermal, coal, swaps, for, indonesia, rise, c...","[4919, 404, 446, 5, 751, 13, 21, 893, 837]"
288209,288209,2012-11-23 00:00:00-05:00,2012-11-25 22:45:00-05:00,Qatar cashes in on remaining Barclays warrants.,Reuters,0,"[qatar, cashes, in, on, remaining, barclays, w...","[854, 15368, 2, 3, 4568, 457, 5311]"
288210,288210,2012-11-23 00:00:00-05:00,2012-11-25 22:50:55-05:00,China Cosco and ICICI Bank Market Debt; Asia B...,Bloomberg,0,"[china, cosco, and, icici, bank, market, debt,...","[21, 5863, 47, 5883, 18, 52, 35, 204, 85, 124,..."
288211,288211,2012-11-23 00:00:00-05:00,2012-11-25 23:31:17-05:00,Giants Beat Packers 38-10 to End Two-Game NFL ...,Bloomberg,0,"[giants, beat, packers, to, end, two, game, nf...","[1474, 421, 5402, 1, 184, 93, 698, 1111, 1091,..."
288212,288212,2012-11-23 00:00:00-05:00,2012-11-25 23:45:15-05:00,Hong Kong Short Selling Turnover Recorded 11/2...,Bloomberg,0,"[hong, kong, short, selling, turnover, recorded]","[244, 261, 374, 427, 1047, 1073]"
288213,288213,2012-11-23 00:00:00-05:00,2012-11-25 23:47:46-05:00,China Avic Avionics Rises as Jet Lands Success...,Bloomberg,0,"[china, avic, avionics, rises, as, jet, lands,...","[21, 21950, 70873, 38, 6, 1316, 4322, 22196, 3..."
288214,288214,2012-11-23 00:00:00-05:00,2012-11-25 23:49:23-05:00,"Glencore, Vedanta Face Up to 50% Pay-Raise Dem...",Bloomberg,0,"[glencore, vedanta, face, up, to, pay, raise, ...","[1445, 4902, 330, 39, 1, 151, 249, 75, 2, 4298]"

In [26]:
train_df['embeddings'] = [np.squeeze(x) for x in np.split(train_embed, train_embed.shape[0])]

In [27]:
train_df['embeddings'] = [embedding_matrix[x] for x in train_df['embeddings']]

### Test

In [28]:
test_df.loc[:, ['news_title']] = test_df.loc[:, ['news_title']].fillna('')

In [29]:
# Preprocess
test_df['words'] = test_df.news_title.map(simple_preprocess)

In [30]:
# Text to sequence
test_df['embeddings'] = t.texts_to_sequences(test_df['words'])

In [31]:
# Pad sequences
test_embed = pad_sequences(test_df['embeddings'], maxlen=maxlen, padding='post')

In [32]:
test_df['embeddings'] = [np.squeeze(x) for x in np.split(test_embed, test_embed.shape[0])]

In [33]:
test_df['embeddings'] = [embedding_matrix[x] for x in test_df['embeddings']]

### Aggregate events by day

In [34]:
train_df['stock'] = train_df['stock'].astype(int)
test_df['stock'] = test_df['stock'].astype(int)

In [35]:
train_df.head()

,index,Date,datetime,news_title,source,stock,words,embeddings
0,0,2006-10-20 00:00:00-04:00,2006-10-20 16:16:16-04:00,"Inco's Net Soars on Higher Metal Prices, Break...",Bloomberg,1,"[inco, net, soars, on, higher, metal, prices, ...","[[0.45153000950813293, 1.2962000370025635, -0...."
1,1,2006-10-20 00:00:00-04:00,2006-10-20 16:25:00-04:00,"Hey buddy, can you spare $600 for a Google sha...",Reuters,1,"[hey, buddy, can, you, spare, for, google, share]","[[0.37766000628471375, 0.42607998847961426, 1...."
2,2,2006-10-20 00:00:00-04:00,2006-10-20 18:15:00-04:00,Exxon Mobil offers plan to end Alaska dispute.,Reuters,1,"[exxon, mobil, offers, plan, to, end, alaska, ...","[[1.0338000059127808, 0.4104999899864197, 0.09..."
3,3,2006-10-20 00:00:00-04:00,2006-10-20 20:08:44-04:00,"Jim Cramer: Diageo, Anheuser-Busch, Monster Wo...",Bloomberg,1,"[jim, cramer, diageo, anheuser, busch, monster...","[[-0.5946000218391418, 0.24015000462532043, 0...."
4,4,2006-10-20 00:00:00-04:00,2006-10-21 14:21:00-04:00,AOL CEO says sales may shrink for two years -p...,Reuters,1,"[aol, ceo, says, sales, may, shrink, for, two,...","[[0.2813799977302551, -0.5907800197601318, 0.4..."

In [36]:
g = train_df.groupby('Date')

agg_train_df = pd.concat([g.embeddings.apply(np.mean, axis=0),
                          g.stock.apply(np.mean, axis=0)
                         ],
                         axis=1)

agg_train_df.reset_index(inplace=True)

agg_train_df.to_pickle('agg_train_df.pkl')

In [37]:
g = test_df.groupby('Date')

agg_test_df = pd.concat([g.embeddings.apply(np.mean, axis=0),
                          g.stock.apply(np.mean, axis=0)
                         ],
                         axis=1)

agg_test_df.reset_index(inplace=True)

agg_test_df.to_pickle('agg_test_df.pkl')

## Load data

In [5]:
agg_train_df = pd.read_pickle('agg_train_df.pkl')

In [6]:
agg_test_df = pd.read_pickle('agg_test_df.pkl')

In [7]:
agg_train_df.head()

,Date,embeddings,stock
0,2006-10-20 00:00:00-04:00,"[[0.15673499777913094, 0.1809510998427868, 0.4...",1.0
1,2006-10-23 00:00:00-04:00,"[[-0.0007124438293670353, 0.062406974550532665...",1.0
2,2006-10-24 00:00:00-04:00,"[[0.20981161274248733, 0.13421877161599696, 0....",1.0
3,2006-10-25 00:00:00-04:00,"[[0.21190344616479706, 0.13870281755225733, 0....",1.0
4,2006-10-26 00:00:00-04:00,"[[0.2520672485232353, 0.06778985364362597, 0.3...",0.0

In [8]:
# Convert back from series of arrays to large array of (events, maxlen, embedding_dims)
x_train = np.array(agg_train_df.embeddings.to_list())
y_train = np.array(agg_train_df.stock)

In [9]:
# Convert back from series of arrays to large array of (events, maxlen, embedding_dims)
x_test = np.array(agg_test_df.embeddings.to_list())
y_test = np.array(agg_test_df.stock)

## Stock Prediction Model

In [701]:
#l2_penalty = 0.0000001
l2_penalty = 0

In [702]:
del cnn_model

In [703]:
K.clear_session()
import gc
gc.collect()

0

In [704]:
# Take real inputs
event_in_ = Input(shape=(None, maxlen, embedding_dim), dtype='float32', name='x_train')

# # Average embeddings for o1, p, o2
average = keras.layers.Lambda(lambda x: keras.backend.mean(x, axis=2))
event_ = average(event_in_) # Output dim (100)


# Hidden layer
hidden1_ = keras.layers.Dense(units=100, activation='relu', use_bias=True, kernel_initializer='glorot_uniform', 
                             bias_initializer='zeros', kernel_regularizer=l2(l2_penalty), 
                             bias_regularizer=l2(l2_penalty),
                            )(event_)

# event_day_ = Conv1D(filters=embedding_dim, kernel_size=1, strides=1, padding='same', activation='relu',
#                     use_bias=True, kernel_regularizer=l2(l2_penalty), bias_regularizer=l2(l2_penalty)
#                    )(hidden1_)

event_week_ = Conv1D(filters=embedding_dim, kernel_size=5, strides=1, padding='causal', activation='relu',
                     use_bias=True, kernel_regularizer=l2(l2_penalty), bias_regularizer=l2(l2_penalty)
                    )(hidden1_)

event_month_ = Conv1D(filters=embedding_dim, kernel_size=20, strides=1, padding='causal', activation='relu',
                      use_bias=True, kernel_regularizer=l2(l2_penalty), bias_regularizer=l2(l2_penalty)
                     )(hidden1_)


# # Max pooling of weekly and monthly events
max_pool_week_ = MaxPooling1D(pool_size=3, strides=1, padding='same', data_format='channels_last'
                              )(event_week_)

max_pool_month_ = MaxPooling1D(pool_size=3, strides=1, padding='same', data_format='channels_last'
                              )(event_month_)

# # Concatenate daily, weekly, monthly
concat_ = keras.layers.Concatenate(axis=2)([hidden1_, event_week_, event_month_])

# Hidden layer
hidden2_ = keras.layers.Dense(units=50, activation='relu', use_bias=True, kernel_initializer='normal', 
                             bias_initializer='zeros', kernel_regularizer=l2(l2_penalty), 
                             bias_regularizer=l2(l2_penalty),
                            )(concat_)

# Softmax layer
y_pred_ = keras.layers.Dense(units=1, activation='sigmoid', use_bias=True, kernel_initializer='normal', 
                             bias_initializer='zeros', kernel_regularizer=l2(l2_penalty), 
                             bias_regularizer=l2(l2_penalty),
                            )(hidden2_)

cnn_model = Model(inputs=event_in_, outputs=y_pred_)

In [705]:
sgd = optimizers.SGD(lr=0.001, clipvalue=0.5)
adam = optimizers.Adam(lr=0.001, beta_1=0.9, beta_2=0.999, epsilon=None, decay=0.0, amsgrad=False)
cnn_model.compile(loss='binary_crossentropy', optimizer='sgd', metrics=['accuracy'])

In [710]:
cnn_model.fit(x=np.expand_dims(x_train, 0),
          y=np.expand_dims(np.expand_dims(y_train, -1), 0), 
          batch_size=200, epochs=5)

Epoch 1/5
1/1 [==============================] - 0s 20ms/step - loss: 0.6931 - acc: 0.5130
Epoch 2/5
1/1 [==============================] - 0s 23ms/step - loss: 0.6931 - acc: 0.5261
Epoch 3/5
1/1 [==============================] - 0s 23ms/step - loss: 0.6931 - acc: 0.5385
Epoch 4/5
1/1 [==============================] - 0s 24ms/step - loss: 0.6930 - acc: 0.5424
Epoch 5/5
1/1 [==============================] - 0s 24ms/step - loss: 0.6930 - acc: 0.5469

In [711]:
y_pred = cnn_model.predict(x=np.expand_dims(x_test, 0), batch_size=1)

In [712]:
confusion_matrix(y_test, y_pred.squeeze() > .5, labels=[1, 0])

array([[148,   0],
       [104,   1]], dtype=int64)

In [713]:
round(accuracy_score(y_test, y_pred.squeeze() > .5), 2)

0.59

In [714]:
f1_score(y_test, y_pred.squeeze() > .5)

0.74

In [850]:
K.clear_session()
import gc
gc.collect()

38

In [851]:
# Simplified model

In [852]:
l2_penalty = 0.000001

In [853]:
# Take real inputs
event_in_ = Input(shape=(None, maxlen, embedding_dim), dtype='float32', name='x_train')
# Average embeddings for o1, p, o2
average = keras.layers.Lambda(lambda x: keras.backend.mean(x, axis=2))
event_ = average(event_in_) # Output dim (100)

# Hidden layer
hidden1_ = keras.layers.Dense(units=100, activation='relu', use_bias=True, kernel_initializer='glorot_uniform', 
                             bias_initializer='zeros', kernel_regularizer=l2(l2_penalty), 
                             bias_regularizer=l2(l2_penalty),
                            )(event_)


# Hidden layer
hidden2_ = keras.layers.Dense(units=50, activation='relu', use_bias=True, kernel_initializer='normal', 
                             bias_initializer='zeros', kernel_regularizer=l2(l2_penalty), 
                             bias_regularizer=l2(l2_penalty),
                            )(hidden1_)

# Hidden layer
hidden3_ = keras.layers.Dense(units=25, activation='relu', use_bias=True, kernel_initializer='normal', 
                             bias_initializer='zeros', kernel_regularizer=l2(l2_penalty), 
                             bias_regularizer=l2(l2_penalty),
                            )(hidden2_)

# Softmax layer
y_pred_ = keras.layers.Dense(units=1, activation='sigmoid', use_bias=True, kernel_initializer='normal', 
                             bias_initializer='zeros', kernel_regularizer=l2(l2_penalty), 
                             bias_regularizer=l2(l2_penalty),
                            )(hidden3_)

model = Model(inputs=event_in_, outputs=y_pred_)

In [854]:
sgd = optimizers.SGD(lr=0.01, clipvalue=0.5)
adam = optimizers.Adam(lr=0.001, beta_1=0.9, beta_2=0.999, epsilon=None, decay=0.0, amsgrad=False)
model.compile(loss='binary_crossentropy', optimizer=sgd, metrics=['accuracy'])

In [855]:
model.fit(x=np.expand_dims(x_train, 0),
          y=np.expand_dims(np.expand_dims(y_train, -1), 0), 
          batch_size=100, epochs=3)

Epoch 1/3
1/1 [==============================] - 0s 421ms/step - loss: 0.6932 - acc: 0.5476
Epoch 2/3
1/1 [==============================] - 0s 23ms/step - loss: 0.6931 - acc: 0.5476
Epoch 3/3
1/1 [==============================] - 0s 24ms/step - loss: 0.6931 - acc: 0.5476

In [856]:
y_pred = model.predict(x=np.expand_dims(x_test, 0), batch_size=100)
confusion_matrix(y_test, y_pred.squeeze() > .5, labels=[1, 0])

array([[148,   0],
       [105,   0]], dtype=int64)

In [849]:
round(accuracy_score(y_test, y_pred.squeeze() > .5), 2)

0.58

In [846]:
del lstm_model

NameError: name 'lstm_model' is not defined

In [792]:
K.clear_session()
import gc
gc.collect()

8

In [231]:
l2_penalty = 0

In [232]:
# Take real inputs
event_in_ = Input(shape=(None, maxlen, embedding_dim), dtype='float32', name='x_train')
# # Average embeddings for o1, p, o2
average = keras.layers.Lambda(lambda x: keras.backend.mean(x, axis=2))
event_ = average(event_in_) # Output dim (100)

# LSTM layer
lstm1_ = keras.layers.LSTM(units=100, return_sequences=True)(event_)
#lstm1_ = keras.layers.Dropout(rate = 0.9)(lstm1_)

# LSTM layer
lstm2_ = keras.layers.LSTM(units=50, return_sequences=True )(lstm1_)
#lstm2_ = keras.layers.Dropout(rate = 0.9)(lstm2_)

# LSTM layer
lstm3_ = keras.layers.LSTM(units=50, return_sequences=True )(lstm1_)
#lstm3_ = keras.layers.Dropout(rate = 0.9)(lstm3_)

# Dense layer
hidden_ = keras.layers.Dense(units=50, activation='relu', use_bias=True, kernel_initializer='normal', 
                             bias_initializer='zeros', kernel_regularizer=l2(l2_penalty), 
                             bias_regularizer=l2(l2_penalty),
                            )(lstm3_)

# Softmax layer
y_pred_ = keras.layers.Dense(units=1, activation='sigmoid', use_bias=True, kernel_initializer='normal', 
                             bias_initializer='zeros', kernel_regularizer=l2(l2_penalty), 
                             bias_regularizer=l2(l2_penalty),
                            )(hidden_)

lstm_model = Model(inputs=event_in_, outputs=y_pred_)

In [233]:
sgd = optimizers.SGD(lr=0.001, clipvalue=0.5)
adam = optimizers.Adam(lr=0.001, beta_1=0.9, beta_2=0.999, epsilon=None, decay=0.0, amsgrad=False)
lstm_model.compile(loss='binary_crossentropy', optimizer=sgd, metrics=['accuracy'])

In [234]:
lstm_model.fit(x=np.expand_dims(x_train, 0),
          y=np.expand_dims(np.expand_dims(y_train, -1), 0), 
          batch_size=100, epochs=5)

Epoch 1/5
1/1 [==============================] - 6s 6s/step - loss: 0.6930 - acc: 0.5476
Epoch 2/5
1/1 [==============================] - 4s 4s/step - loss: 0.6930 - acc: 0.5476
Epoch 3/5
1/1 [==============================] - 5s 5s/step - loss: 0.6930 - acc: 0.5476
Epoch 4/5
1/1 [==============================] - 4s 4s/step - loss: 0.6930 - acc: 0.5476
Epoch 5/5
1/1 [==============================] - 4s 4s/step - loss: 0.6930 - acc: 0.5476

In [235]:
y_pred = lstm_model.predict(x=np.expand_dims(x_test, 0), batch_size=100).squeeze()
confusion_matrix(y_test, y_pred.squeeze() > .5, labels=[1, 0])

array([[148,   0],
       [105,   0]], dtype=int64)

In [236]:
round(accuracy_score(y_pred=y_pred>.5, y_true=y_test), 2)

0.58