In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
from gensim.models.word2vec import Word2Vec
from gensim.utils import simple_preprocess

from keras.preprocessing.sequence import pad_sequences
from keras.preprocessing.text import Tokenizer

C:\ProgramData\Miniconda3\lib\site-packages\gensim\utils.py:1197: UserWarning: detected Windows; aliasing chunkize to chunkize_serial
  warnings.warn("detected Windows; aliasing chunkize to chunkize_serial")
Using TensorFlow backend.

In [3]:
from keras.utils import plot_model
from keras.models import Model
from keras.layers import Embedding
from keras.layers import Input
from keras.layers import Dense
from keras.layers import Flatten
from keras.layers import Lambda
from keras.layers import Layer
from keras.layers import Softmax
from keras.layers.convolutional import Conv1D
from keras.layers import MaxPooling1D

import tensorflow as tf
import keras
import keras.backend as K

In [4]:
# Params
maxlen=20
embedding_dim = 100
text_vocabulary_size = 140000
n_epochs = 500

## Load data

In [43]:
w2v =Word2Vec.load('w2v.model')

### Training

In [549]:
train_df= pd.read_pickle('train_df.pkl')

In [550]:
test_df = pd.read_pickle('test_df.pkl')

## Associate word_indices with embeddings

### Create weight matrix

In [551]:
# Tokenize and fit on text
t = Tokenizer()
t.fit_on_texts(vocab)

In [552]:
# From https://machinelearningmastery.com/use-word-embedding-layers-deep-learning-keras/
embedding_matrix = np.zeros((text_vocabulary_size, 100))

In [553]:
#create a weight matrix for words in training docs
for word, i in t.word_index.items():
    try:
        embedding_vector = w2v.wv.get_vector(word)
        embedding_matrix[i] = embedding_vector
    except KeyError:
        continue

### Train

In [554]:
train_df.loc[:, ['news_title']] = train_df.loc[:, ['news_title']].fillna('')

In [555]:
# Preprocess
train_df['words'] = train_df.news_title.map(simple_preprocess)

In [556]:
# Text to sequence
train_df['embeddings'] = t.texts_to_sequences(train_df['words'])

In [557]:
# Pad sequences
train_embed = pad_sequences(train_df['embeddings'], maxlen=maxlen, padding='post')

In [558]:
train_df

,index,Date,datetime,news_title,source,stock,words,embeddings
0,0,2006-10-20 00:00:00-04:00,2006-10-20 16:16:16-04:00,"Inco's Net Soars on Higher Metal Prices, Break...",Bloomberg,1,"[inco, net, soars, on, higher, metal, prices, ...","[4185, 1198, 8081, 86, 373, 7597, 418, 20386, ..."
1,1,2006-10-20 00:00:00-04:00,2006-10-20 16:25:00-04:00,"Hey buddy, can you spare $600 for a Google sha...",Reuters,1,"[hey, buddy, can, you, spare, for, google, share]","[266, 267, 182, 268, 269, 80, 270, 271]"
2,2,2006-10-20 00:00:00-04:00,2006-10-20 18:15:00-04:00,Exxon Mobil offers plan to end Alaska dispute.,Reuters,1,"[exxon, mobil, offers, plan, to, end, alaska, ...","[31, 32, 33, 34, 35, 36, 37, 38]"
3,3,2006-10-20 00:00:00-04:00,2006-10-20 20:08:44-04:00,"Jim Cramer: Diageo, Anheuser-Busch, Monster Wo...",Bloomberg,1,"[jim, cramer, diageo, anheuser, busch, monster...","[2243, 12399, 31064, 4988, 4989, 7611, 1391, 270]"
4,4,2006-10-20 00:00:00-04:00,2006-10-21 14:21:00-04:00,AOL CEO says sales may shrink for two years -p...,Reuters,1,"[aol, ceo, says, sales, may, shrink, for, two,...","[535, 536, 537, 538, 361, 539, 80, 216, 134, 540]"
5,5,2006-10-20 00:00:00-04:00,2006-10-21 20:11:00-04:00,Pluspetrol says losing $2.4 mln/day in Peru pr...,Reuters,1,"[pluspetrol, says, losing, mln, day, in, peru,...","[885, 537, 175, 886, 887, 88, 888, 889]"
6,6,2006-10-20 00:00:00-04:00,2006-10-22 06:46:00-04:00,EU to urge China to open economy further.,Reuters,1,"[eu, to, urge, china, to, open, economy, further]","[943, 35, 944, 945, 35, 946, 693, 644]"
7,7,2006-10-20 00:00:00-04:00,2006-10-22 12:14:00-04:00,"Fed to keep hawkish tone, hold rates steady.",Reuters,1,"[fed, to, keep, hawkish, tone, hold, rates, st...","[683, 35, 684, 685, 686, 687, 688, 689]"
8,8,2006-10-20 00:00:00-04:00,2006-10-22 20:36:00-04:00,Weatherford profit jumps 78 percent.,Reuters,1,"[weatherford, profit, jumps, percent]","[1186, 460, 1187, 310]"
9,9,2006-10-20 00:00:00-04:00,2006-10-22 21:51:00-04:00,Saudi Arabia tells Japan to cut its Nov crude ...,Reuters,1,"[saudi, arabia, tells, japan, to, cut, its, no...","[1944, 1945, 2006, 2007, 35, 822, 167, 2008, 9..."
10,10,2006-10-23 00:00:00-04:00,2006-10-23 01:50:00-04:00,Australia's Foster's says confident on targets.,Reuters,1,"[australia, foster, says, confident, on, targets]","[1217, 1218, 537, 1219, 86, 289]"
11,11,2006-10-23 00:00:00-04:00,2006-10-23 03:47:00-04:00,Macquarie bids $1.4 bln for metering firm Techem.,Reuters,1,"[macquarie, bids, bln, for, metering, firm, te...","[3031, 3032, 3033, 80, 3034, 657, 3035]"
12,12,2006-10-23 00:00:00-04:00,2006-10-23 03:51:00-04:00,DaimlerChrysler talks to 2 firms on small car:...,Reuters,1,"[daimlerchrysler, talks, to, firms, on, small,...","[1113, 663, 35, 1114, 86, 10, 1115, 540]"
13,13,2006-10-23 00:00:00-04:00,2006-10-23 05:24:00-04:00,More solid earnings may keep rally going.,Reuters,1,"[more, solid, earnings, may, keep, rally, going]","[162, 1756, 336, 361, 684, 1757, 787]"
14,14,2006-10-23 00:00:00-04:00,2006-10-23 07:51:36-04:00,EU Energy Chief Backs German Plan for Price Co...,Bloomberg,1,"[eu, energy, chief, backs, german, plan, for, ...","[943, 52, 554, 10553, 563, 34, 80, 288, 1405]"
15,15,2006-10-23 00:00:00-04:00,2006-10-23 08:36:00-04:00,"U.S. venture investors betting on energy, Web ...",Reuters,1,"[venture, investors, betting, on, energy, web]","[2074, 501, 2075, 86, 52, 7]"
16,16,2006-10-23 00:00:00-04:00,2006-10-23 09:58:00-04:00,Shell Canada jumps 30 pct on Royal Dutch offer.,Reuters,1,"[shell, canada, jumps, pct, on, royal, dutch, ...","[1889, 1206, 1187, 2027, 86, 1896, 1897, 110]"
17,17,2006-10-23 00:00:00-04:00,2006-10-23 10:47:00-04:00,Kimberly-Clark sees higher costs this year.,Reuters,1,"[kimberly, clark, sees, higher, costs, this, y...","[1795, 1796, 1751, 373, 1142, 92, 222]"
18,18,2006-10-23 00:00:00-04:00,2006-10-23 10:49:00-04:00,Ford won't sell Ford Credit.,Reuters,1,"[ford, won, sell, ford, credit]","[1469, 1660, 678, 1469, 1604]"
19,19,2006-10-23 00:00:00-04:00,2006-10-23 10:56:00-04:00,Ford sees fourth quarter weaker than third.,Reuters,1,"[ford, sees, fourth, quarter, weaker, than, th...","[1469, 1751, 1656, 497, 801, 163, 496]"
20,20,2006-10-23 00:00:00-04:00,2006-10-23 11:18:00-04:00,Hasbro profit beats expectations.,Reuters,1,"[hasbro, profit, beats, expectations]","[2449, 460, 2450, 720]"
21,21,2006-10-23 00:00:00-04:00,2006-10-23 11:20:00-04:00,Merrill Lynch to buy Petrie Parkman.,Reuters,1,"[merrill, lynch, to, buy, petrie, parkman]","[344, 2203, 35, 649, 2204, 2205]"
22,22,2006-10-23 00:00:00-04:00,2006-10-23 11:41:00-04:00,Ford CEO: Jury out on European premium brands.,Reuters,1,"[ford, ceo, jury, out, on, european, premium, ...","[1469, 536, 1622, 399, 86, 616, 1623, 1569]"
23,23,2006-10-23 00:00:00-04:00,2006-10-23 11:48:00-04:00,"Kimberly-Clark profit higher, narrows view.",Reuters,1,"[kimberly, clark, profit, higher, narrows, view]","[1795, 1796, 460, 373, 2543, 8]"
24,24,2006-10-23 00:00:00-04:00,2006-10-23 11:52:00-04:00,Wal-Mart October sales growth tracking below f...,Reuters,1,"[wal, mart, october, sales, growth, tracking, ...","[1293, 1294, 863, 538, 314, 2863, 1309, 795]"
25,25,2006-10-23 00:00:00-04:00,2006-10-23 12:34:00-04:00,Bombardier could launch new jet this year: ana...,Reuters,1,"[bombardier, could, launch, new, jet, this, ye...","[2978, 326, 1009, 180, 2979, 92, 222, 356]"
26,26,2006-10-23 00:00:00-04:00,2006-10-23 14:10:00-04:00,Private equity groups form for Tribune bid: so...,Reuters,1,"[private, equity, groups, form, for, tribune, ...","[2754, 523, 929, 2755, 80, 2756, 672, 1176]"
27,27,2006-10-23 00:00:00-04:00,2006-10-23 15:06:00-04:00,AT&T earnings beat expectations.,Reuters,1,"[at, earnings, beat, expectations]","[515, 336, 1765, 720]"
28,28,2006-10-23 00:00:00-04:00,2006-10-23 15:40:00-04:00,Wrigley sees no change in communications policy.,Reuters,1,"[wrigley, sees, no, change, in, communications...","[2359, 1751, 206, 745, 88, 2360, 733]"
29,29,2006-10-23 00:00:00-04:00,2006-10-23 15:48:00-04:00,"Ford is reviewing all products, brands: CEO.",Reuters,1,"[ford, is, reviewing, all, products, brands, ceo]","[1469, 131, 1568, 177, 1164, 1569, 536]"
...,...,...,...,...,...,...,...,...
288185,288185,2012-11-23 00:00:00-05:00,2012-11-25 18:25:00-05:00,"Mexico ""Buen Fin"" sales up by nearly a third.",Reuters,0,"[mexico, buen, fin, sales, up, by, nearly, third]","[2475, 84835, 8832, 538, 324, 39, 176, 496]"
288186,288186,2012-11-23 00:00:00-05:00,2012-11-25 18:30:16-05:00,Fed’s Dudley Signals a Shift Toward Bank Reform.,Bloomberg,0,"[fed, dudley, signals, shift, toward, bank, re...","[683, 39510, 4488, 1093, 2552, 696, 1043]"
288187,288187,2012-11-23 00:00:00-05:00,2012-11-25 18:30:17-05:00,Natural-Gas Exports Could Lift U.S. Trade and ...,Bloomberg,0,"[natural, gas, exports, could, lift, trade, an...","[95, 74, 988, 326, 2391, 363, 62, 693]"
288188,288188,2012-11-23 00:00:00-05:00,2012-11-25 18:30:36-05:00,Spain’s Bad Bank Needs Goodwill From Europe’s ...,Bloomberg,0,"[spain, bad, bank, needs, goodwill, from, euro...","[5372, 2178, 696, 968, 3372, 333, 662, 4149]"
288189,288189,2012-11-23 00:00:00-05:00,2012-11-25 18:30:58-05:00,Regulate U.S. Markets Like the Nuclear Industry.,Bloomberg,0,"[regulate, markets, like, the, nuclear, industry]","[14044, 426, 316, 66, 3295, 645]"
288190,288190,2012-11-23 00:00:00-05:00,2012-11-25 18:44:00-05:00,Black Friday sales online top $1 billion for f...,Reuters,0,"[black, friday, sales, online, top, billion, f...","[9445, 87, 538, 604, 1443, 130, 80, 792, 403, ..."
288191,288191,2012-11-23 00:00:00-05:00,2012-11-25 18:45:00-05:00,Apple seeks to add more products to Samsung pa...,Reuters,0,"[apple, seeks, to, add, more, products, to, sa...","[4307, 8803, 35, 1927, 162, 1164, 35, 6115, 27..."
288192,288192,2012-11-23 00:00:00-05:00,2012-11-25 18:52:54-05:00,Qantas Minds Bonds as Dreamliner Order Pulled:...,Bloomberg,0,"[qantas, minds, bonds, as, dreamliner, order, ...","[15486, 2649, 4772, 106, 5403, 329, 5100, 1217..."
288193,288193,2012-11-23 00:00:00-05:00,2012-11-25 19:00:01-05:00,BBC’s Chief Honed Skills Saving Covent Garden:...,Bloomberg,0,"[bbc, chief, honed, skills, saving, covent, ga...","[16611, 554, 25269, 15128, 4584, 85405, 11544,..."
288194,288194,2012-11-23 00:00:00-05:00,2012-11-25 19:00:01-05:00,White Burgundies From Cote d’Or Set Gold Stand...,Bloomberg,0,"[white, burgundies, from, cote, or, set, gold,...","[3279, 86934, 333, 24654, 334, 382, 8961, 1810]"
288195,288195,2012-11-23 00:00:00-05:00,2012-11-25 19:00:01-05:00,Chelsea Ties 0-0 Against Man. City as Fans Jee...,Bloomberg,0,"[chelsea, ties, against, man, city, as, fans, ...","[7138, 1032, 1026, 2537, 1370, 106, 12710, 594..."
288196,288196,2012-11-23 00:00:00-05:00,2012-11-25 19:01:00-05:00,Britons’ Spending Power Stagnated in October o...,Bloomberg,0,"[britons, spending, power, stagnated, in, octo...","[29544, 1194, 1110, 22094, 88, 863, 86, 754, 6..."
288197,288197,2012-11-23 00:00:00-05:00,2012-11-25 19:01:00-05:00,U.K. Business Investment Seen at Pace Damping ...,Bloomberg,0,"[business, investment, seen, at, pace, damping...","[480, 954, 1107, 515, 798, 38960, 962, 314]"
288198,288198,2012-11-23 00:00:00-05:00,2012-11-25 19:01:00-05:00,Colombia Bank Votes 4-3 for Rate Cut After Bro...,Bloomberg,0,"[colombia, bank, votes, for, rate, cut, after,...","[6648, 696, 2440, 80, 828, 822, 202, 5202, 24553]"
288199,288199,2012-11-23 00:00:00-05:00,2012-11-25 19:01:00-05:00,U.K. Energy Policy Weighs on Green Investment:...,Bloomberg,0,"[energy, policy, weighs, on, green, investment...","[52, 733, 4427, 86, 4000, 954, 7875, 68, 66, 887]"
288200,288200,2012-11-23 00:00:00-05:00,2012-11-25 19:01:00-05:00,"Osborne May Extend U.K. Austerity to 2018, IFS...",Bloomberg,0,"[osborne, may, extend, austerity, to, ifs, says]","[16038, 361, 1760, 51887, 35, 29628, 537]"
288201,288201,2012-11-23 00:00:00-05:00,2012-11-25 19:01:03-05:00,Overnight Rates Surge in Fed’s Operation Twist.,Bloomberg,0,"[overnight, rates, surge, in, fed, operation, ...","[3580, 688, 5259, 88, 683, 1614, 13954]"
288202,288202,2012-11-23 00:00:00-05:00,2012-11-25 19:53:16-05:00,Japan Copper-Alloy Product Output Climbs 0.5% ...,Bloomberg,0,"[japan, copper, alloy, product, output, climbs...","[2007, 4173, 15594, 1658, 1197, 7719, 88, 863]"
288203,288203,2012-11-23 00:00:00-05:00,2012-11-25 20:08:21-05:00,"China Yangtze, Jiangsu Shagang, Nanjing Urban:...",Bloomberg,0,"[china, yangtze, jiangsu, shagang, nanjing, ur...","[945, 34736, 31223, 43023, 14242, 1381, 945, 8..."
288204,288204,2012-11-23 00:00:00-05:00,2012-11-25 20:33:00-05:00,"Analysis: ""Caveat emptor"" as foreigners rush t...",Reuters,0,"[analysis, caveat, emptor, as, foreigners, rus...","[1140, 17237, 29776, 106, 10425, 371, 35, 1192..."
288205,288205,2012-11-23 00:00:00-05:00,2012-11-25 20:49:56-05:00,Notre Dame Remains No. 1 Team in College Footb...,Bloomberg,0,"[notre, dame, remains, no, team, in, college, ...","[73166, 55673, 2640, 206, 2275, 88, 4014, 7031..."
288206,288206,2012-11-23 00:00:00-05:00,2012-11-25 21:00:09-05:00,"Stones Roll Back Years, Rock Cheap Seats, No W...",Bloomberg,0,"[stones, roll, back, years, rock, cheap, seats...","[34661, 6697, 451, 134, 5019, 987, 2998, 206, ..."
288207,288207,2012-11-23 00:00:00-05:00,2012-11-25 21:01:00-05:00,Sebastian Vettel Wins Third Straight Formula O...,Bloomberg,0,"[sebastian, vettel, wins, third, straight, for...","[10102, 89655, 7606, 496, 697, 4247, 284, 4630..."
288208,288208,2012-11-23 00:00:00-05:00,2012-11-25 22:30:46-05:00,Thermal Coal Swaps for Indonesia Rise; China C...,Bloomberg,0,"[thermal, coal, swaps, for, indonesia, rise, c...","[7979, 7978, 3331, 80, 2173, 580, 945, 3844, 1..."
288209,288209,2012-11-23 00:00:00-05:00,2012-11-25 22:45:00-05:00,Qatar cashes in on remaining Barclays warrants.,Reuters,0,"[qatar, cashes, in, on, remaining, barclays, w...","[12542, 15045, 88, 86, 3574, 5082, 13707]"
288210,288210,2012-11-23 00:00:00-05:00,2012-11-25 22:50:55-05:00,China Cosco and ICICI Bank Market Debt; Asia B...,Bloomberg,0,"[china, cosco, and, icici, bank, market, debt,...","[945, 66962, 62, 23037, 696, 300, 1548, 1209, ..."
288211,288211,2012-11-23 00:00:00-05:00,2012-11-25 23:31:17-05:00,Giants Beat Packers 38-10 to End Two-Game NFL ...,Bloomberg,0,"[giants, beat, packers, to, end, two, game, nf...","[8446, 1765, 30527, 35, 36, 216, 680, 18761, 1..."
288212,288212,2012-11-23 00:00:00-05:00,2012-11-25 23:45:15-05:00,Hong Kong Short Selling Turnover Recorded 11/2...,Bloomberg,0,"[hong, kong, short, selling, turnover, recorded]","[3801, 3802, 328, 1559, 9363, 2960]"
288213,288213,2012-11-23 00:00:00-05:00,2012-11-25 23:47:46-05:00,China Avic Avionics Rises as Jet Lands Success...,Bloomberg,0,"[china, avic, avionics, rises, as, jet, lands,...","[945, 28131, 40379, 2607, 106, 2979, 13073, 10..."
288214,288214,2012-11-23 00:00:00-05:00,2012-11-25 23:49:23-05:00,"Glencore, Vedanta Face Up to 50% Pay-Raise Dem...",Bloomberg,0,"[glencore, vedanta, face, up, to, pay, raise, ...","[28310, 15734, 2636, 324, 35, 59, 1680, 1092, ..."

In [459]:
train_df['embeddings'] = [np.squeeze(x) for x in np.split(train_embed, train_embed.shape[0])]

In [460]:
train_df['embeddings'] = [embedding_matrix[x] for x in train_df['embeddings']]

### Test

In [59]:
test_df.loc[:, ['news_title']] = test_df.loc[:, ['news_title']].fillna('')

In [60]:
# Preprocess
test_df['words'] = test_df.news_title.map(simple_preprocess)

In [61]:
# Text to sequence
test_df['embeddings'] = t.texts_to_sequences(test_df['words'])

In [62]:
# Pad sequences
test_embed = pad_sequences(test_df['embeddings'], maxlen=maxlen, padding='post')

In [63]:
test_df['embeddings'] = [np.squeeze(x) for x in np.split(test_embed, test_embed.shape[0])]

In [64]:
test_df['embeddings'] = [embedding_matrix[x] for x in test_df['embeddings']]

### Aggregate events by day

In [65]:
train_df['stock'] = train_df['stock'].astype(int)
test_df['stock'] = test_df['stock'].astype(int)

In [66]:
train_df.head()

,index,Date,datetime,news_title,source,stock,words,embeddings
0,0,2006-10-20 00:00:00-04:00,2006-10-20 16:16:16-04:00,"Inco's Net Soars on Higher Metal Prices, Break...",Bloomberg,1,"[inco, net, soars, on, higher, metal, prices, ...","[[-0.3715226352214813, 0.684317409992218, -1.1..."
1,1,2006-10-20 00:00:00-04:00,2006-10-20 16:25:00-04:00,"Hey buddy, can you spare $600 for a Google sha...",Reuters,1,"[hey, buddy, can, you, spare, for, google, share]","[[0.32294243574142456, -0.03166818246245384, -..."
2,2,2006-10-20 00:00:00-04:00,2006-10-20 18:15:00-04:00,Exxon Mobil offers plan to end Alaska dispute.,Reuters,1,"[exxon, mobil, offers, plan, to, end, alaska, ...","[[0.09510381519794464, 0.34654828906059265, -0..."
3,3,2006-10-20 00:00:00-04:00,2006-10-20 20:08:44-04:00,"Jim Cramer: Diageo, Anheuser-Busch, Monster Wo...",Bloomberg,1,"[jim, cramer, diageo, anheuser, busch, monster...","[[0.812869668006897, 0.0374612882733345, 0.543..."
4,4,2006-10-20 00:00:00-04:00,2006-10-21 14:21:00-04:00,AOL CEO says sales may shrink for two years -p...,Reuters,1,"[aol, ceo, says, sales, may, shrink, for, two,...","[[0.05968537926673889, 0.16134525835514069, -0..."

In [67]:
g = train_df.groupby('Date')

agg_train_df = pd.concat([g.embeddings.apply(np.mean, axis=0),
                          g.stock.apply(np.mean, axis=0)
                         ],
                         axis=1)

agg_train_df.reset_index(inplace=True)

agg_train_df.to_pickle('agg_train_df.pkl')

In [68]:
g = test_df.groupby('Date')

agg_test_df = pd.concat([g.embeddings.apply(np.mean, axis=0),
                          g.stock.apply(np.mean, axis=0)
                         ],
                         axis=1)

agg_test_df.reset_index(inplace=True)

agg_test_df.to_pickle('agg_test_df.pkl')

## Load data

In [583]:
agg_train_df = pd.read_pickle('agg_train_df.pkl')

In [584]:
agg_test_df = pd.read_pickle('agg_train_df.pkl')

In [585]:
# Convert back from series of arrays to large array of (events, maxlen, embedding_dims)
x_train = np.array(agg_train_df.embeddings.to_list())
y_train = np.array(agg_train_df.stock)

In [600]:
# Convert back from series of arrays to large array of (events, maxlen, embedding_dims)
x_test = np.array(agg_test_df.embeddings.to_list())
y_test = np.array(agg_test_df.stock)

## Stock Prediction Model

In [586]:
seqlen = x_train.shape[0]

In [587]:
from keras.regularizers import l2

In [588]:
l2_penalty = 0.01

In [589]:
K.clear_session()

In [590]:
# Take real inputs
event_in_ = Input(shape=(seqlen, maxlen, embedding_dim), dtype='float32', name='x_train')
print(event_in_.shape)
# # Average embeddings for o1, p, o2
average = keras.layers.Lambda(lambda x: keras.backend.mean(x, axis=2))
event_ = average(event_in_) # Output dim (100)
print(event_.shape)

# Hidden layer
hidden1_ = keras.layers.Dense(units=100, activation='relu', use_bias=True, kernel_initializer='glorot_uniform', 
                             bias_initializer='zeros', kernel_regularizer=l2(l2_penalty), 
                             bias_regularizer=l2(l2_penalty),
                            )(event_)

event_day_ = Conv1D(filters=embedding_dim, kernel_size=1, strides=1, padding='same', activation='relu',
                    use_bias=True, kernel_regularizer=l2(l2_penalty), bias_regularizer=l2(l2_penalty)
                   )(hidden1_)

event_week_ = Conv1D(filters=embedding_dim, kernel_size=5, strides=1, padding='causal', activation='relu',
                     use_bias=True, kernel_regularizer=l2(l2_penalty), bias_regularizer=l2(l2_penalty)
                    )(hidden1_)

event_month_ = Conv1D(filters=embedding_dim, kernel_size=20, strides=1, padding='causal', activation='relu',
                      use_bias=True, kernel_regularizer=l2(l2_penalty), bias_regularizer=l2(l2_penalty)
                     )(hidden1_)


# # Max pooling of weekly and monthly events
max_pool_week_ = MaxPooling1D(pool_size=3, strides=1, padding='same', data_format='channels_last'
                              )(event_week_)
print(max_pool_week_.shape)
max_pool_month_ = MaxPooling1D(pool_size=3, strides=1, padding='same', data_format='channels_last'
                              )(event_month_)

# # Concatenate daily, weekly, monthly
concat_ = keras.layers.Concatenate(axis=2)([event_day_, max_pool_week_, max_pool_month_])

# Hidden layer
hidden2_ = keras.layers.Dense(units=50, activation='relu', use_bias=True, kernel_initializer='normal', 
                             bias_initializer='zeros', kernel_regularizer=l2(l2_penalty), 
                             bias_regularizer=l2(l2_penalty),
                            )(concat_)

# Softmax layer
y_pred_ = keras.layers.Dense(units=1, activation='sigmoid', use_bias=True, kernel_initializer='normal', 
                             bias_initializer='zeros', kernel_regularizer=l2(l2_penalty), 
                             bias_regularizer=l2(l2_penalty),
                            )(hidden2_)

model = Model(inputs=event_in_, outputs=y_pred_)

(?, 1534, 20, 100)
(?, 1534, 100)
(?, 1534, 100)

In [591]:
from keras import optimizers

In [592]:
sgd = optimizers.SGD(lr=0.001, clipvalue=0.5)

In [593]:
model.compile(loss='binary_crossentropy', optimizer='sgd', metrics=['accuracy'])

In [594]:
model.fit(x=np.expand_dims(x_train, 0),
          y=np.expand_dims(np.expand_dims(y_train, -1), 0), 
          batch_size=1, epochs=10)

Epoch 1/10
1/1 [==============================] - 1s 595ms/step - loss: 5.0748 - acc: 0.4583
Epoch 2/10
1/1 [==============================] - 0s 25ms/step - loss: 5.0730 - acc: 0.4628
Epoch 3/10
1/1 [==============================] - 0s 24ms/step - loss: 5.0712 - acc: 0.4831
Epoch 4/10
1/1 [==============================] - 0s 25ms/step - loss: 5.0694 - acc: 0.5000
Epoch 5/10
1/1 [==============================] - 0s 25ms/step - loss: 5.0677 - acc: 0.5104
Epoch 6/10
1/1 [==============================] - 0s 25ms/step - loss: 5.0659 - acc: 0.5248
Epoch 7/10
1/1 [==============================] - 0s 25ms/step - loss: 5.0641 - acc: 0.5443
Epoch 8/10
1/1 [==============================] - 0s 24ms/step - loss: 5.0623 - acc: 0.5476
Epoch 9/10
1/1 [==============================] - 0s 25ms/step - loss: 5.0606 - acc: 0.5489
Epoch 10/10
1/1 [==============================] - 0s 25ms/step - loss: 5.0588 - acc: 0.5476

In [604]:
test = model.predict(x=np.expand_dims(x_test, 0), batch_size=1)

In [608]:
np.mean(test[0])

0.50105786

In [546]:
test2

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [447]:
from keras.layers import Flatten

In [261]:
# Embed events
# Take training events and return embedded vectors
# Create copy of training events, randomly sample events from data, return embedded vectors
# Multiply each by tensor
# Calculate loss


# Take real inputs
event_in_ = Input(shape=(seqlen, maxlen, embedding_dim), dtype='float32', name='x_train')
print(event_in_.shape)
# # Average embeddings for o1, p, o2
average = keras.layers.Lambda(lambda x: keras.backend.mean(x, axis=2))
event_ = average(event_in_) # Output dim (100)
print(event_.shape)

# Hidden layer
event_day_ = Conv1D(filters=embedding_dim, kernel_size=1, strides=1, padding='same', activation='relu',
                    use_bias=True, kernel_regularizer=l2(l2_penalty), bias_regularizer=l2(l2_penalty)
                   )(event_)

event_week_ = Conv1D(filters=embedding_dim, kernel_size=5, strides=1, padding='causal', activation='relu',
                     use_bias=True, kernel_regularizer=l2(l2_penalty), bias_regularizer=l2(l2_penalty)
                    )(event_)

event_month_ = Conv1D(filters=embedding_dim, kernel_size=20, strides=1, padding='causal', activation='relu',
                      use_bias=True, kernel_regularizer=l2(l2_penalty), bias_regularizer=l2(l2_penalty)
                     )(event_)


# # Max pooling of weekly and monthly events
# # Narrow convolution of 3 neighbouring
# event_week_ = MaxPooling1D(pool_size=5, strides=None, padding='valid', data_format='channels_last'
#                           )(event_week_)

# max_pool_month_ = MaxPooling1D(pool_size=3, strides=None, padding='valid', data_format='channels_last'
#                               )(event_month_)

# # Concatenate daily, weekly, monthly
concat_ = keras.layers.Concatenate(axis=2)([event_day_, event_week_, event_month_])

# Hidden layer
hidden_ = keras.layers.Dense(units=50, activation='relu', use_bias=True, kernel_initializer='normal', 
                             bias_initializer='zeros', kernel_regularizer=l2(l2_penalty), 
                             bias_regularizer=l2(l2_penalty),
                            )(concat_)

y_pred_ = keras.layers.Flatten()(hidden_)
model = Model(inputs=event_in_, outputs=y_pred_)

(?, 1534, 20, 100)
(?, 1534, 100)

In [262]:
model.compile(loss='hinge',
              optimizer='adam',
              metrics=['accuracy'])

In [263]:
model.fit(x=np.expand_dims(x_train, 0),
          y=np.expand_dims(y_train, -1),
          batch_size=1, epochs=50)

ValueError: Error when checking target: expected flatten_4 to have shape (76700,) but got array with shape (1,)