In [1]:
import pandas as pd
import numpy as np

In [2]:
dji = pd.read_csv('DJI.csv')

In [3]:
dji['Date'] = pd.to_datetime(dji['Date'])

In [4]:
# Set to EST (DJI follows Eastern Time)
dji['Date'] = dji['Date'].dt.tz_localize('US/Eastern')

In [6]:
dji.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2002-12-31 00:00:00-05:00,8332.240234,8361.309570,8242.910156,8341.629883,8341.629883,190390000
1,2003-01-02 00:00:00-05:00,8342.379883,8608.269531,8342.379883,8607.519531,8607.519531,243910000
2,2003-01-03 00:00:00-05:00,8607.379883,8635.490234,8552.870117,8601.690430,8601.690430,234000000
3,2003-01-06 00:00:00-05:00,8602.780273,8800.589844,8602.099609,8773.570313,8773.570313,258040000
4,2003-01-07 00:00:00-05:00,8775.839844,8802.639648,8713.030273,8740.589844,8740.589844,266970000

In [17]:
dji['stock'] = (dji['Close'].shift(-1) > dji['Open'].shift(-1)) | (dji['High'].shift(-1) / dji['Open'].shift(-1) - 1 > 0.02)

In [18]:
dji['stock'] = dji['stock'].astype('int')

In [20]:
dji = dji[(dji['Date'] >= '2006-10-20') & (dji['Date'] <= '2013-11-25')]

In [21]:
dji.reset_index(drop=True, inplace=True)

In [22]:
import pickle
dji.to_pickle("./dji.pkl")